{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Inertia Test{% endblock %}</title>
    <!-- Inclure les fichiers CSS nécessaires -->
</head>
<body>
    <h1>TEST</h1>
    <!-- Conteneur pour l'application Vue.js avec Inertia.js -->
    {% block inertia %}{% endblock inertia %}
    <!-- Inclure le fichier JavaScript principal pour Vue.js et Inertia.js -->
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
