{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% vite_hmr_client %}
    {% vite_asset 'js/main.js' %}

    <title>Tryffle</title>
    
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tryffle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:8000/search/"> Recherche </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/trigramme/">Recherche par Trigramme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/documents/">Documents</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content">
    {% block inertia %}{% endblock %}
  </div>
  </body>
</html>

